@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.special-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.special-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.special-scrollbar::-webkit-scrollbar-thumb {
  background: #3535353d;
}

.special-scrollbar::-webkit-scrollbar {
  width: 4px;
}
@layer utilities {
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dot-animate {
    animation: blink 1s infinite ease-in-out;
    display: inline-block;
  }

  @keyframes blink {
    0%,
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer components {
  .navItem {
    @apply fixed  top-[96px] left-0 bottom-0 px-9 py-5 max-sm:px-4  transform transition-transform duration-700 ease-in-out bg-[#EAEEFE] z-30 w-full;
  }

  .section-container {
    @apply px-[100px] max-xlg:px-[50px] max-xslg:px-9 max-sm:px-4 relative max-xslg:top-[96px] mt-[100px] max-slg:mt-[50px];
  }

  .bg-text {
    @apply bg-gradient-to-b from-black  to-[#001E80] text-transparent bg-clip-text;
  }

  .bg-text-r {
    @apply bg-gradient-to-r from-black  to-[#001E80] text-transparent bg-clip-text;
  }

  .contact-input {
    @apply w-full h-[47px] rounded-md py-[10px] px-4 bg-white outline-none text-black placeholder:text-[#696969];
  }
  .paginationBlogBtn {
    @apply p-3 text-sm border rounded-md hover:border-2 hover:border-[#010D3E] flex gap-2 items-center font-semibold border-gray-300;
  }

  .dropdown-button {
    @apply bg-[#EAEEFE] cursor-pointer shadow-md font-medium  text-[#010D3E] max-md:text-sm;
  }

  .dropdown-menu {
    @apply absolute mt-4 bg-[#EAEEFE] shadow-xl rounded-xl z-10 w-full overflow-y-auto max-h-[200px];
  }

  .dropdown-item {
    @apply px-4 py-2 text-sm cursor-pointer transition hover:bg-[#010d3ebe] hover:text-white;
  }
  .formdivs label {
    @apply text-sm font-semibold text-[#010D3E];
  }

  .formdivs input,
  .formdivs textarea {
    @apply rounded-lg border border-gray-200 w-full p-3 outline-none focus:border-[#010D3E] placeholder:text-sm placeholder:text-gray-400;
  }

  .formdivs .input {
    @apply focus:border-gray-200;
  }
  .form-btn {
    @apply w-full h-12 bg-black text-white shadow-sm rounded-lg hover:shadow-xl hover:bg-[#141414] transition-all duration-300;
  }

  .phoneinputdiv:focus {
    @apply border-l border-[#010D3E];
  }

  .login-text {
    @apply text-white xlg:max-w-[320px] max-w-[250px] leading-[29px] tracking-[1.5%] absolute right-0 mr-4 xlg:top-[150px] top-[50px] text-sm max-xslg:hidden;
  }

  .signup-form {
    @apply md:max-w-[529px] max-sm:p-4  mt-6 max-xl:px-[50px];
  }

  .login-btn {
    @apply w-full h-12 bg-[#010D3E] text-white shadow-sm rounded-lg hover:shadow-xl hover:bg-[#001354] transition-all duration-300;
  }
  .btn-hover {
    @apply hover:shadow-xl hover:bg-[#010D3E] transition-all duration-300;
  }

  .dash-nav {
    @apply bg-white cursor-pointer shadow-sm centered w-[51px] h-[51px] rounded-full text-[24px] text-[#010D3E];
  }
  .filterDiv {
    @apply md:sticky lg:top-[40px] md:top-[80px]  h-full md:h-[calc(100vh-80px)] overflow-y-auto flex-shrink-0 slg:w-[20%] md:w-[25%] bg-[#EAEEFE] p-5 shadow-md rounded-xl special-scrollbar;
  }

  .dashboard-container {
    @apply relative top-24 py-20 pt-10 px-[100px] max-xlg:px-[50px] max-xlg:py-[50px] max-sm:px-4;
  }

  .notice-div a {
    @apply text-[#010D3E] font-semibold;
  }

  .blog-post h1 {
    @apply text-[36px] font-bold leading-[1.5];
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.button-container:hover .icon-animate {
  animation: slideIn 0.5s ease-out forwards;
  opacity: 1;
}

.tab {
  position: relative;
  width: 212px;
  height: 33px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.tab::before {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust according to your needs */
  left: 50%;
  width: 0;
  height: 3px; /* Border height */
  background-color: #010d3e;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.tab.active {
  color: #010d3e;
}

.tab.active::before {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.ql-toolbar.ql-snow {
  box-sizing: border-box;
  border: #e5e7eb 1px solid !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ql-container.ql-snow {
  box-sizing: border-box;
  border: #e5e7eb 1px solid !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.description li,
.blog-post li {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.ql-editor.template-quill.description ul {
  padding-left: 0;
}
